.main-layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

}

.choices {
  width: 185px;
  height: 50vw;
  background-color: #f6f8fc;
}

.choices ul {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  line-height: 40px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  outline: none;
}

.choices li {
  width: 185px;
  height: 40px;
  box-sizing: border-box;
}

.choices a:hover {
  color: #3867FF;
  transition: 0.3s;
}

.choices a {
  font-family: PingFang SC;
  font-size: 14px;
  font-weight: 500;
  color: #252526;
  line-height: 40px;
}

.choices span {
  margin-left: 10px;
}

.translation {
  position: relative;
  width: 100%;
  height: 50vw;
  margin: 30px;
}

.translation-title {
  position: absolute;
  top: 10px;
  z-index: 2;
  font-weight: 800;
  font-size: 16px;
}

.translation-language {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  top: 70px;
  width: 100%;
  height: 38px;
}

.translation-language>span:hover {
  cursor: not-allowed;
  transition: 0.3s;
}

.translation-nowlanguage,
.translation-directlanguage {
  display: flex;
  flex-direction: row;
  height: 38px;
  padding: 0 10px;
  margin: 0 10px 0 0;
  line-height: 38px;
  font-size: 14px;
  border: 0.9px solid #d9d9d9;
  border-radius: 4px;
}

.translation-directlanguage {
  margin-left: 10px;
}

.translation-nowlanguage:hover,
.translation-directlanguage:hover {
  border: 1px solid #3867FF;
  box-shadow: 0 0 0 2px rgb(56 103 255 / 20%);
  cursor: pointer;
  transition: 0.3s;
}

.translation-nowlanguage>div,
.translation-directlanguage>div {
  width: 60px;
  margin-right: 4px;
  color: #b1bbd2;
}

.translation-textarea {
  position: absolute;
  top: 150px;
  display: grid;
  min-height: 320px;
  width: 100%;
  grid-template-columns: 50% 50%;
}

.translation-textarea>textarea {
  padding: 15px 14px;
  font-size: 24px;
  min-height: 320px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-family: monospace;
}

.translation-textarea>textarea:focus {
  outline: none;
  border: 1px solid #3867FF;
  box-shadow: 3px blur #3867FF;
}

.translation-textarea>div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 320px;
  background-color: #f0f2fa;
  color: #bcc5da;
  font-size: 18px;
}